service vendor.graphics.allocator.vboxware /vendor/bin/hw/android.hardware.graphics.allocator-service.minigbm_vboxware
    class hal animation
    user system
    group graphics drmrpc
    capabilities SYS_NICE
    onrestart restart surfaceflinger
    task_profiles ServiceCapacityLow
